.recipe-title{
    background-color: lightsteelblue;
    font-weight: 900;
    font-size: 65px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.recipe-subheader{
    background-color: lightslategrey;
    font-weight: 500;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}